@import "bootstrap-sprockets";
@import "bootstrap";



@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid black;
  color: blue;
  a {
    color: black;
    &:hover {
      color: orange;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* form settings */
.form-group{
  margin-bottom: 10px;
}


.col-md-6.col-md-offset-3 {
  background: #ddf3f3;
}

.f.col-md-6.col-md-offset-3 {
  padding: 60px;
}

.f.btn.btn-primary.btn-lg.btn-block{
  margin-top: 40px;
}


.img-responsive {
   width: 1920px;
   height: 300px;
   
}


#error_explanation{
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
  }
}



